<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs') %>

	<body>
		<header>
			<h1>Users</h1>
		</header>
		<nav>
			<!-- Add navigation links if needed -->
		</nav>
		<main>
			<section>
				<% if (blogs.length> 0) { %><% blogs.forEach(blog=> { %>
						<div class="card" onclick="redirect('<%= blog._id %>')">
							<h1>Title: <%= blog.title %>
							</h1>
							<h1>Snippet: <%= blog.snippet %>
							</h1>
							<h1>body: <%= blog.blogbody %>
							</h1>
						</div>
						<% }); %>
							<% } else { %>
								<p>No blogs found.</p>
								<% } %>
			</section>
		</main>
		<script defer>
			function redirect(blog) {
				window.location.href = `/blogs/${blog}`
			}
		</script>
	</body>
	<%- include('../partials/footer.ejs') %>

</html>