<%- include('../partials/header.ejs') %>

      <body>
        <main>
            <section>
                <div class="card-blog">
                    <h2><%= blog.title %></h2>
                    <p> <%= blog.snippet %></p>
                    <p><%= blog.blogbody %></p>
                </div>
            </section>  
        </main>
      </body>
<%- include('../partials/footer.ejs') %>
